max_total_attempts: 1

# Strategy for each attempt index (0 = initial, 1 = first retry, etc.)
retry_strategies:

  # For first 2 attempts, use the 'Standard PayGo'
  - attempt_index: 0
    #target_hostname: "http://0.0.0.0:8000/standard"
    target_hostname: "https://aiplatform.googleapis.com"
    timeout_seconds: 30.0

  # At attempt #3 fall back to 'priority paygo' which consumes a different quota bucket
  - attempt_index: 2
    target_hostname: "https://aiplatform.googleapis.com"
    extra_headers:
      X-Vertex-AI-LLM-Shared-Request-Type: "priority"
    timeout_seconds: 30.0